* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
}

html {
	scrollbar-width: none;
}

body {
	font: {
		family: arial, sans-serif;
		size: 16px;
		weight: 500;
	}
	color: #202124;
}

#content {
	width: min-content;
	max-width: 80vw;
	min-width: 55vw;
	margin: 1.75rem auto;
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}

main {
	height: calc(100vh - 3.5rem);
	border: 1px solid #dadce0;
	border-radius: 0.4rem;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	gap: 2rem;

	h2 {
		font-size: 1.5rem;
	}

	p {
		margin-top: 0.5rem;
	}

	img {
		width: min-content;

		&#icon {
			&-cuenta {
				width: 15rem;
			}
		}
	}

	.flex-row {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	input {
		width: 100%;
		padding: 0.375rem 0.5rem;
		border: 1px solid #dadce0;
		border-radius: 0.2rem;

		&[type=checkbox] {
			width: auto;
			display: inline-block;
			margin-right: 1rem;
		}
	}

	.input-with-legend {
		font-size: 0.8rem;

		p {
			color: #5f6368;
			margin: 0.1rem 0 0 0.5rem;
		}
	}

	.align {
		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}
	}

	label {
		display: block;
		font-size: 0.8rem;
	}

	div {
		&#cuenta {
			height: min-content;
			margin: auto 0;
		}

		&#form {
			&-footer {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: auto;

				a {
					text-decoration: none;
					color: #1a73e8;
				}

				input {
					width: auto;
					padding: 0.5em 1.5em;
					border-radius: 0.2em;
					border: none;
					background-color: #1a73e8;
					color: #fff;
					height: min-content;
				}
			}

			&-signup {
				width: max-content;
				max-width: 20rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				form {
					display: flex;
					flex-direction: column;
					gap: 1.5rem;
				}
			}
		}
	}
}

footer {
	display: flex;
	flex-direction: row;

	select {
		color:#202124;
	}

	ul {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		list-style-type: none;
		color: #757575;
		font-size: 0.75rem;
	}
}

.flex-expand {
	flex-grow: 1;
}

@media screen and (max-width: 600px) {
	#content {
		width: auto;
		max-width: none;
		margin: 0 2rem;
	}

	main {
		border: none;
		margin: 0;
		height: 100vh;
		padding: 2rem 0;

@media screen and (max-height: 620px) {
			padding-bottom: 0;
			height: auto;
		}

		.flex-row {
			flex-direction: column;
		}

		div {
			&#form-signup {
				max-width: none;
			}
		}
	}

	footer {
		flex-direction: column;
		gap: 0.5rem;
		margin-bottom: 2rem;

		ul {
			flex-direction: column;
			gap: 0.5em;
		}
	}
}

@media screen and (max-width: 900px) {
	main {
		div {
			&#cuenta {
				display: none;
			}
		}
	}
}

@media screen and (min-height: 700px) and (min-width: 600px) {
	#content {
		margin: auto;
		justify-content: center;
		height: 100vh;
	}

	main {
		height: auto;
	}
}

@media screen and (max-height: 580px) and (min-width: 600px) {
	#content {
		margin: 0 auto;
	}

	main {
		border: none;
		margin: 0;
		height: auto;
		padding: 2rem 0;
	}
}
